.form {
    width: 25%;
    margin-left: 36%;
}

.my_table {
    float: left;
    width: 50%;
    margin-left: 5%;
}

.mr-l {
    margin-left: 83%;
}

.space1 {
    clear: both;
}

.space-30px {
    height: 30px;
}

.right-bar {
    /*border: 2px solid red;*/
    float: right;
    

    width: 38%;

    margin-right: 5%;

    text-align: center;
}

.inline {
    display: inline-block;
}

.link-gen {
    /*border: 2px solid red;*/
    float: right;

    width: 100%;
}

.gen-field {
    text-align: center;
    margin-top: 10px;
    height: 34px;
    padding-top: 5px;

    background-color: lightgrey;

    border-radius: 5px;
}

.link_area {
    background-color: lightgrey;
    margin-top: 10px;
    height: 80px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.red_squear {
    border: 2px solid red;
}

.m-b10px {
    margin-bottom: 10px;
}

.w-100p {
    width: 100%;
}

.h-80px {
    height: 80px;
}

.ml-5p {
    margin-left: 5%;
}