button {
    padding: 0.75em;
    margin-right: 1em;

    text-transform: uppercase;
    letter-spacing: 0.25em;
    border-radius: 0.2em;

    background: none;
    color: white;
    border: 2px solid white;
}

<<<<<<< HEAD
button.invertBtn {
    color: black;
    border: 2px solid black;
}

body {
    /*noinspection CssUnknownTarget*/
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    color: white;
=======
body {
    background-image: url("../../img/bg.jpg");
>>>>>>> master
}

.form {
    width: 25%;
    margin-left: 36%;
}

.login {
    width: 3em;
}

.my_table {
    float: left;
    width: 35%;
    margin-left: 5%;
}

.mr-l {
    margin-left: 83%;
}

.space1 {
    clear: both;
}

.space-30px {
    height: 30px;
}

.right-bar {
    float: right;

    width: 45%;

    margin-right: 5%;

    text-align: center;
}

.inline {
    display: inline-block;
}

.link-gen {
    float: right;

    width: 100%;
}

.gen-field {
    text-align: center;
    margin-top: 10px;
    height: 34px;
    padding-top: 5px;

    background-color: lightgrey;

    border-radius: 5px;
}

.link_area {
    background-color: lightgrey;
    margin-top: 10px;
    height: 80px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.red_squear {
    border: 2px solid red;
}

.dropdown-menu {
    text-align: center;
}

.bar_func {
    display: inline-block;
}

.m-b10px {
    margin-bottom: 10px;
}

.m-t10px {
    margin-top: 10px;
}

.w-100p {
    width: 100%;
}

.h-80px {
    height: 80px;
}

.ml-5p {
    margin-left: 5%;
}

.ml-17p {
    margin-left: 17%;
}

.add-student-form {
    width: 20%;
<<<<<<< HEAD
}
.add-student-form2 {
    width: 50%;
}

input.form-control {
    background-color: rgba(255, 255, 255, 0.8);
=======

    /*background-color: lightgrey;
    border: 2px solid red;*/
>>>>>>> master
}